<h1>Editing Admin Property Traffic</h1>

<%= render 'form', admin_property_traffic: @admin_property_traffic %>

<%= link_to 'Show', @admin_property_traffic %> |
<%= link_to 'Back', admin_property_traffics_path %>
