<h1>Editing Admin Property Layout</h1>

<%= render 'form', admin_property_layout: @admin_property_layout %>

<%= link_to 'Show', @admin_property_layout %> |
<%= link_to 'Back', admin_property_layouts_path %>
