<!DOCTYPE html>
<html>
  <head>
    <title>Immo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;position: relative;">
  <!-- センタリング -->
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Immo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/companies/">会社情報</a></li>
              <li><a href="/staffs/">従業員情報</a></li>
              <li><a href="/properties/">物件情報</a></li>
              <li><a href="/customers/">顧客情報</a></li>
              <li><a href="/selects/">選択マスタ</a></li>
              <li><a href="/homeloan/simulator">住宅ローンシミュレーション</a></li>
          </ul>
      </div>
  </div>
  </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

  <script type="text/javascript">
  $(function() {
    $(window).ready( function() {
      $('#postal_code').jpostal({
        postcode : [
          '#postal_code'
        ],
        address : {
          '#prefecture': '%3',
          '#city'          : '%4',
          '#street'        : '%5',
          '#address'    : '%3%4%%5'
        }
      });
    });
  });
  </script>
  <script>
    $('table.sampletable').floatThead({});
  </script>
</html>
